body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
a {
    color: black;
    text-decoration: none;
}
.header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid blue;
}
.menu-icon {
    font-size: 20px;
    width: 50px;
    height: 100%;
    border-right: 2px solid blue;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 5px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.brand {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.button {
    padding: 15px;
    background: #333;
    color: white;
    text-align: center;
    border: 2px solid blue;
    border-radius: 6px;
}
.button:hover {
    background: black;
}
.footer {
    background: #222;
    color: white;
    margin-top: 40px;
    border-top: 2px solid blue;
    padding: 20px;
    text-align: center;
}